<%-include('./partials/head')%>

<body>
    <%-include('./partials/header')%>
    <main class="main__todos_filmes">
        <div class="caixa">
            <div class="filmes">
                <div class="filme__poster">
                    <a href="/resultadofilme/0"><img src="<%= filmes[0].poster %> " width="150px" height="200px" alt=""></a>
                <div class="filmes__status">
                    <a href="/resultadofilme/0"><p><%= filmes[0].nome %></p></a>
                    <p><%= filmes[0].genero %></p>
                    <a href="/resultadofilme/0"><button class="btn__ver__mais">Ver mais</button></a>
                </div>
                </div>
                <div class="filme__poster">
                    <a href="/resultadofilme/1"><img src="<%= filmes[1].poster %> " width="150px" height="200px" alt=""></a>
                <div class="filmes__status">
                    <a href="/resultadofilme/1"><p><%= filmes[1].nome %></p></a>
                    <p><%= filmes[1].genero %></p>
                    <a href="/resultadofilme/1"><button class="btn__ver__mais">Ver mais</button></a>
                </div>
                </div>
                <div class="filme__poster">
                    <a href="/resultadofilme/2"><img src="<%= filmes[2].poster %> " width="150px" height="200px" alt=""></a>
                <div class="filmes__status">
                    <a href="/resultadofilme/2"><p><%= filmes[2].nome %></p></a>
                    <p><%= filmes[2].genero %></p>
                    <a href="/resultadofilme/2"><button class="btn__ver__mais">Ver mais</button></a>
                </div>
                </div>
                <div class="filme__poster">
                    <a href="/resultadofilme/3"><img src="<%= filmes[3].poster %> " width="150px" height="200px" alt=""></a>
                <div class="filmes__status">
                    <a href="/resultadofilme/3"><p><%= filmes[3].nome %></p></a>
                    <p><%= filmes[3].genero %></p>
                    <a href="/resultadofilme/3"><button class="btn__ver__mais">Ver mais</button></a>
                </div>
                </div>
                <div class="filme__poster">
                    <a href="/resultadofilme/4"><img src="<%= filmes[4].poster %> " width="150px" height="200px" alt=""></a>
                <div class="filmes__status">
                    <a href="/resultadofilme/4"><p><%= filmes[4].nome %></p></a>
                    <p><%= filmes[4].genero %></p>
                    <a href="/resultadofilme/4"><button class="btn__ver__mais">Ver mais</button></a>
                </div>
                </div>
            </div>
            <div class="filmes2">
                <div class="filme__poster">
                    <a href="/resultadofilme/5"><img src="<%= filmes[5].poster %> " width="150px" height="200px" alt=""></a>
                <div class="filmes__status">
                    <a href="/resultadofilme/5"><p><%= filmes[5].nome %></p></a>
                    <p><%= filmes[5].genero %></p>
                    <a href="/resultadofilme/5"><button class="btn__ver__mais">Ver mais</button></a>
                </div>
                </div>
                <div class="filme__poster">
                    <a href="/resultadofilme/6"><img src="<%= filmes[6].poster %> " width="150px" height="200px" alt=""></a>
                <div class="filmes__status">
                    <a href="/resultadofilme/6"><p><%= filmes[6].nome %></p></a>
                    <p><%= filmes[6].genero %></p>
                    <a href="/resultadofilme/6"><button class="btn__ver__mais">Ver mais</button></a>
                </div>
                </div>
                <div class="filme__poster">
                    <a href="/resultadofilme/7"><img src="<%= filmes[7].poster %> " width="150px" height="200px" alt=""></a>
                <div class="filmes__status">
                    <a href="/resultadofilme/7"><p><%= filmes[7].nome %></p></a>
                    <p><%= filmes[7].genero %></p>
                    <a href="/resultadofilme/7"><button class="btn__ver__mais">Ver mais</button></a>
                </div>
                </div>
                <div class="filme__poster">
                    <a href="/resultadofilme/8"><img src="<%= filmes[8].poster %> " width="150px" height="200px" alt=""></a>
                <div class="filmes__status">
                    <a href="/resultadofilme/8"><p><%= filmes[8].nome %></p></a>
                    <p><%= filmes[8].genero %></p>
                    <a href="/resultadofilme/8"><button class="btn__ver__mais">Ver mais</button></a>
                </div>
                </div>
                <div class="filme__poster">
                    <a href="/resultadofilme/9"><img src="<%= filmes[9].poster %> " width="150px" height="200px" alt=""></a>
                <div class="filmes__status">
                    <a href="/resultadofilme/9"><p><%= filmes[9].nome %></p></a>
                    <p><%= filmes[9].genero %></p>
                   <a href="/resultadofilme/9"><button class="btn__ver__mais">Ver mais</button></a>
                </div>
                </div>
            </div>
        </div>
    </main>
    <%-include('./partials/footer')%>
</body>